*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#main{
    background-color: #051235;
  
}
.boxes{
    width: 100%;
    height: 700px;
    border: 1px solid transparent;
    display: flex;
    justify-content: space-between;
}
.box-img{
    width: 45%;
}
.box-img img{
    width: 100%;
    height: 700px;
    object-fit: cover;
}
.box-input{
    width: 55%;
    display: block;
    justify-content: flex-start;
    padding: 8%;
}
.box-input span{
    color: #FA6940;
    font-size: 30px;
}
.box-input p{
    color: white;
    font-size: 50px;
}
input{
    width: 80%;
    height: 60px;
    background-color: #1E2A4A;
    outline: none;
    color: white;
    border: 1px solid transparent;
    font-size: 15px;
    padding-left: 10px;
}
.subject{
    display: block;
    width: 100%;
    margin: 6% 0;
}
.message{
    display: block;
    width: 100%;
}
.nminput{
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}
.name input{
    width: 100%;
}
.email input{
    width: 100%;
    
}
button{
    display: block;
    width: 30%;
    height: 50px;
    margin-top: 30px;
    background-color: #FA6943;
    color: white;
    font-size: 15px;
    border: 1px solid transparent;
    font-size: 20px;
    box-shadow: inset 0 0 0 0 #fff;
    transition: ease-in 0.5s;
    outline: none;
    
}
button:hover{
    cursor: pointer;
    box-shadow: inset 300px 0 0 0  #fff;
    color: darkblue;
}

@media (max-width: 768px){
    .box-img{
        display: none
    }
    .box-input{
        width:90%;
    }
    .name{
      margin-right: 20px;  
    }

}
@media (max-width: 480px){
    .box-img{
        display: none;
    }
    .box-input{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .nminput{
        display: block;
    }
    .name{
        margin-bottom: 10px;
    }
}